.courses
    display: flex
    justify-content: center
    width: 100%
    flex-wrap: wrap
    align-content: center
    align-items: center
    margin-top: 50px
    margin-bottom: 50px
    gap: 10px

    &__card
        width: 100%
        max-width: 600px
        border: 1px solid blue
        justify-content: center
        background: aqua
        display: flex
        flex-direction: column
        height: 100vh
        max-height: 400px

    &__img
        width: 80%
        height: 200px
        margin: auto
        border-radius: 10px

    &__title
        text-align: center
        color: blue

    &__description
        text-align: center
        color: blue
